* {
  /* margin: 0;
  padding: 0; */
  font-size: 11px;
}

.body-wrapper {
  height: 92vh;
  width: 100vw;
  display: flex;
  background-color: white;
}

.left-side-wrapper {
  
  display: flex;
  background-color: rgba(211, 211, 211, 0.178);
  width: 30%;
}

.graph-wrapper {
  background-color: white;
  width: 70%;
  /* padding: 0px 10px; */
}

.controll-bar {
  height: 8vh;
  background-color: blueviolet;
  display: flex;
  /* justify-content: space-between; */
}

.left-side-wrapper {
  display: flex;
  flex-direction: column;
}
.title-wrapper {
  padding: 1rem;
  font-size: 20px;
}

.visualizer-space {
  /* margin: auto 0; */
  height: 100%;
  width: 100%;
  background-color: bisque;
  display: flex;
  align-items: flex-end;
}

.bar {
  width: 100%;
  background-color: aqua;
  height: 60%;
  
}

.bar:not(:first-child):not(:last-child) {
  margin: 0 1px;
}

.wrapper-bottom-section {
  width: 100%;
  display: flex;
  justify-content: space-between;  
}

.slider-wrapper {
  display: flex;
}

.btn-and-slider-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.size-wrapper {
  margin-right: 20px;
  /* display: flex;
  align-items: center; */
}

.speed-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.speed-wrapper:not(:last-child) {
  margin-right: 30px;
}

.h4-size {
  padding-right: 10px;
  
  margin: auto;
}

.h4-speed {
  margin-right: 10px;
  padding-bottom: 4.5px;
}

.btn-run {
  margin-right: 20px;
  padding: 15px 20px;
  background-color: khaki;
}

.btn-generatenew {
  margin-left: 20px;
  padding: 15px 20px;
  background-color: khaki;
}

.two-button-wrapper {
  display: flex;
}

textarea {
  width: 100%;
}

.modal-btn-wrapper {
  display: flex;
  justify-content: center;
}

.btn-custom-arr {
  margin-top: 20px;
  padding: 15px 20px;
  background-color: khaki;
}

.btn-choice-wrapper {
  padding: 10px 15px;
  border-radius: 10%;
  background-color: brown;
}

.btn-choice-wrapper:not(:last-child) {
  margin-right: 10px;
}