@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,600&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap');

* {
  /* margin: 0;
  padding: 0; */
  font-size: 11px;
}

.main-title-home {
  font-weight: 600;
}

.MuiTypography-root {
  font-family: 'Open Sans' sans-serif;
}

.body-wrapper {
  height: 92vh;
  width: 100vw;
  display: flex;
  background-color: white;
}

.left-side-wrapper {
  
  display: flex;
  background-color: white;
  width: 30%;
}

.graph-wrapper {
  background-color: white;
  width: 70%;
  /* transition: 0.2s; */
}

.controll-bar {
  height: 8vh;
  background: linear-gradient(200deg, #e66465);
  background-color: #e66464b9;
  display: flex;
  /* justify-content: space-between; */
}

.left-side-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  /* transition: 0.2s; */
}
.title-wrapper {
  padding: 1rem;
  font-size: 20px;
  position: relative;
}

.visualizer-space {
  /* margin: auto 0; */
  height: 100%;
  width: 100%;
  background-color: #0058b727;
  display: flex;
  align-items: flex-end;
}

.bar {
  width: 100%;
  background-color: #9198e5;
  height: 60%;
}

.bar:not(:first-child):not(:last-child) {
  margin: 0 1px;
}

.wrapper-bottom-section {
  width: 100%;
  display: flex;
  justify-content: space-between;  
}

.slider-wrapper {
  display: flex;
}

.btn-and-slider-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.size-wrapper {
  margin-right: 20px;
  /* display: flex;
  align-items: center; */
}

.speed-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.speed-wrapper:not(:last-child) {
  margin-right: 30px;
}

.h4-size {
  padding-right: 10px;
  padding-bottom: 4px;
  margin: auto;
  color: white;
  font-size: 12;
  font-weight: 500;
  text-transform: uppercase;
}

.h4-speed {
  margin-right: 10px;
  padding-bottom: 4.5px;
}

.btn-run {
  margin-right: 20px;
  padding: 15px 20px;
  background-color: white;
  color: #9198e5;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 7px;
  font-weight: 600;
}

.btn-generatenew {
  width: 100%;
  /* margin-left: 20px; */
  padding: 15px 20px;
  background-color: white;
  border-radius: 7px;
  color:  #9198e5;
  font-weight: 600;
  text-transform: uppercase;
}

.btn-details {
  width: 100%;
  /* margin-left: 20px; */
  padding: 20px 20px;
  background-color: white;
  background: #9198e5;
  color:  white;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 7px;
}

.two-button-wrapper {
  display: flex;
}

textarea {
  width: 100%;
}

.modal-btn-wrapper {
  display: flex;
  justify-content: center;
}

.btn-custom-arr {
  margin-top: 20px;
  padding: 15px 20px;
  background-color: khaki;
}

.btn-choice-wrapper {
  padding: 10px 15px;
  border-radius: 10%;
  background-color: brown;
}

.btn-choice-wrapper:not(:last-child) {
  margin-right: 10px;
}

.size-wrapper {
  display: flex;
}

.side-bar-btn {
  width: 20px;
}

.wapper-for-side-btn {
  position: absolute;
  left: auto;
  top: 1%;
  right: -6%;
  /* top: 0%;
  right: -12%;
  bottom: 0%; */
  padding: 15px;
  background-color: white;
  z-index: 1;
  border-radius: 0px 7px 7px 0px;
  cursor: pointer;
}

.button-wrapper {
  padding: 1rem;
}

.box-img {
  padding-top: 20px;
}