.visualizer-space {
  margin: auto 0;
  height: 80%;
  width: 80%;
  /* display: flex;
  justify-content: center;
  align-content: center; */
  background-color: bisque;
}

.visualizer-wrapper {
  position: relative;
  height: 100%;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  /* align-content: space-between; */
}

.button-wrapper {
  /* display: flex;
  justify-content: center;
  align-self: flex-end; */
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bars-wrapper {
  /* position: absolute; */
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* height: 100%; */
}

.color-block {
  width: 15px;
  background-color: cadetblue;
}

.numbers {
  font-size: 8px;
  /* background-color: turquoise; */
}

p {
  margin-block-end: 0em;
  margin-block-start: 0em;
}

.wrapper-forall {
  display: flex;
  flex-direction: column;
  margin: 0 3px;
}